body {
    background-color: #bb7bfc;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

form {
    /*align center*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /*blurr*/
    backdrop-filter: blur(4px) brightness(0.82);

    padding: 5% 8% 5% 8%;
    border-radius: 10px;
}

.input{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 5px 5px 5px 0px;

    /*center */
    display: block;
    margin : 2% 0 2% 0;

    /*line instead of box*/
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

::placeholder {
    color: white;
}

button {
    width: 102%;
    height: 30px;
    background-color: #ae64f8;
    color: white;
    font-weight: bold;
    padding: 2%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}